header
    height 150px
    background #fff
    .center-header
        display flex
        position relative
        align-items center
        justify-content right
        height 100%
        margin-left 250px
        margin-right 15%
        +below(1260px)
            margin-left 15%
    .submenu-home
        position absolute
    .logo
        width 140px
        margin-right auto
        flex-shrink 0
        img
            width 100%
    nav#nav-desktop
        display flex
        align-items center
        height 100%
        +below(1260px)
            display none
        a:not(.instagram) 
            position relative
            display flex
            height 100%
            align-items center
            montserrat 14
            color $azul
            font-weight 600
            &:before
            &:after
                content ''
                position absolute
                left -10px
                height 24px
                width 2px
                background rgba($laranja)
                transition .2s ease
            &:hover
            &.active
                &:before
                    top 0
                    height 65px
       
        a + a
            margin-left $rem(70)
        a.instagram
            width 15px
            height 15px
            text-indent -9999px
            background $img('ico-instagram.svg') no-repeat center
            background-size 100%
            transition 0.3s
            &:hover
                transform rotate(360deg) scale(1.3)

        .highline
            &:after
                content ''
                position absolute
                top 0px
                left -10px
                min-height 160px
                width 2px
                background rgba($laranja)
                transition .2s ease
    #mobile-toggle
        display block
        background-color transparent
        border 0
        position relative
        height 100%
        width 28px
        outline 0
        padding 0
        cursor pointer
        margin-left auto
        +above(1260px)
            display none
        .lines
            display block
            width 100%
            height 4px
            background $azul
            position relative
            transition .3s ease
            border-radius 3px
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $azul
                transition .3s ease
                border-radius 3px
            &:before
                top 7px
            &:after
                top -7px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)
    +below(1260px)
        height 85px
        .center-header
            justify-content space-between
        .logo
            margin 0
            width 85px

nav#nav-mobile
    background #fff
    box-shadow 0 6px 6px rgba(#000, .1)
    +above(1260px)
        display none !important
    display none
    padding 10px 0 20px
    text-align right
    position relative
    z-index 2
    a
        display block
        montserrat 14
        color $azul
        margin-right 15%
        &.active
            padding-right 18px
            position relative
            &:after
                content ''
                position absolute
                right 0
                top 50%
                width 10px
                height 1px
                background rgba($laranja, .4)
        + a
            margin-top 10px
        &.instagram
            width 15px
            height 15px
            text-indent 9999px
            background $img('ico-instagram.svg') no-repeat center
            background-size 100%
            margin-top 16px
            margin-left auto
.aviso-cookies
    display flex
    width 100%
    margin 0
    flex-direction row
    align-items flex-start
    justify-content center
    bottom 0
    background-color rgba(0, 0, 0, 0.8)
    position fixed
    z-index 650
    padding 25px 7%
    .frase-cookies
        width 80%
        font-family "Verdana"
        font-size 14px
        color #FFF
        margin 0
        .link-politica
            text-decoration underline
            &:hover
            &:focus
                font-weight bold
    .aceitar-cookies
        width 20%
        font-family "Verdana"
        font-size 14px
        color #FFF
        background-color #01669C 
        border none
        border-radius 5px
        height 40px
        margin-left 20px
        z-index 650
        font-weight 600
        cursor pointer
        outline none
        &:hover
        &:focus
            background-color #003d5d
    +below($tablet)
        +mobile()
            flex-direction column
            align-items center
            padding 20px 
        .frase-cookies
            font-size 13px
            z-index 650
            +mobile()
                font-size 11px
                width 100%
                text-align center
        .aceitar-cookies
            font-size 13px
            z-index 650
            +mobile()
                font-size 12px
                width 100%
                text-align center
                margin-left 0
                margin-top 10px
.categorias2
    display block
    position relative
    color $azul
    font-weight bold
    font-size 13px!important
    line-height 17px
    width 110px
    top 50px
    left -285px
    z-index 102
    // &:before
    //     content ''
    //     position absolute
    //     top -5px
    //     left -12px
    //     height 75px
    //     width 2px
    //     background rgba($laranja)
    //     transition .2s ease
    .active
        color $laranja
    +below(1345px)
        left -272px
    +below(1260px)
        display none