.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.center-full
    width calc('100% - 120px')
    max-width 1785px
    margin 0 auto
    position relative
    +below($tablet)
        width 90%

.load-more
    display flex
    align-items center
    justify-content center
    margin $rem(50) auto 0
    width 165px
    height 65px
    dosis 22
    color $cinza
    border 1px solid transparent
    transition .3s
    span
        width 15px
        height 15px
        position relative
        margin-left 10px
        &:before
        &:after
            content ''
            position absolute
            width 100%
            height 2px
            background $cinza
            top 50%
            left 50%
            transform translate(-50%, -50%)
        &:after
            height 100%
            width 2px
    &.loading
        cursor wait
        background rgba($cinza, .2)
    &:hover
    &.loading
        border 1px solid $cinza
