section.politica-de-privacidade
    position relative
    width 1300px
    margin 100px auto 30px auto
    // margin-left 40px
    // margin-right 40px
    +below($tablet)
        width 90%
    .titulo
        montserrat(32, bold)
        color $laranja
        margin-bottom 30px
        +below($tablet)
            font-size 24px
        +mobile()
            font-size 20px
    h2
        color $laranja
    .texto
        position relative
        background-color transparent
        width 100%
        height auto
        padding 0
        montserrat(16)
        color $azul
        +below($tablet)
            font-size 14px
        +mobile()
            font-size 12px
        p
            margin 0 0 20px 0
            text-align left
            line-height 1.7
            +below($tablet)
                margin 0 0 15px 0

