.servicos
    padding-bottom $rem(100)
    // overflow hidden
    position relative
    +mobile()
        padding-bottom 30px
    .section-1
        display block
        margin-top 50px
        justify-content left
        min-height none
        padding-bottom 25px
        +below(1570px)
            flex-wrap wrap
            flex-direction row
            justify-content center
        .servicos-line
            position absolute
            height 1886px
            border-left 2px solid $laranja 
            top -130px
            margin-left 205px
            z-index 500
            +below(1570px)
                height 1850px
            +below(1391px)
                height 1875px
            +below(1350px)
                height 1850px
            +below(1310px)
                display none
        .servicos-card
            display flex
            flex-wrap nowrap
            margin-bottom 80px
            min-height 540px
            justify-content left
            +below(1570px)
                justify-content center
            +below(1310px)
                flex-wrap wrap
            +below(620px)
                row-gap 10px
                min-height 10px
        .imagem
            display block
            margin-left 140px
            margin-right 20px
            min-width 480px
            height 480px
            background-position center
            background-size cover
            background-repeat no-repeat
            white-space nowrap
            // +below(1550px)
            //     min-width 420px
            +below(1350px)
                margin-left auto
                margin-right auto
            +below(620px)
                min-width 50px
                width 270px
                height 270px
        .servicos-bloco
            margin-top -15px
            width 560px
            margin-left 8%
            +below(1280px)
                margin-left 60px
                margin-right 60px
                margin-top 40px
                margin-bottom 80px
            +below(620px)
                margin-top 10px
                margin-left 15px
                margin-right 15px
        .servicos-titulo
            color $laranja
            montserrat 22
            font-weight 600!important
            margin-top -15px
            margin-bottom -10px
            +below(1570px)
                montserrat 20
            +below(620px)
                montserrat 16
        .servicos-texto
            color $azul
            montserrat 16
            font-weight 600
            line-height 2
            +below(1570px)
                montserrat 15
                font-weight 600
            +below(620px)
                montserrat 12
                font-weight 600
                text-align left
        p
            line-height 2

